{% extends 'layout.html' %}
 
{% block content %}
    <div class="form_box">
        <form action="/recommended_movie" method="post">
            {% for movie in movies %}
                <div class="movie-box">
        {#            <div class="movie-image" style="background-image: url('../static/images/{{ movie.link_id }}.jpg')"></div>#}
                    <img src="../static/images/{{ movie.link_id }}.jpg">
                    <p>{{ movie.name }}</p>
                        <input type="checkbox" name='favorite_movie' value={{ movie.id }}>
                </div>
            {% endfor %}
        <div class="submit_button">
            <button type="submit">submit</button>
        </div>
        </form>
    </div>
{% endblock %}